@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

$primaryColor: #202A44;

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    list-style: none;
    color: $primaryColor;
}

svg {
    fill: $primaryColor;
}

h1,
h3,
h4 {
    color: $primaryColor;
    text-align: center;
}

h1 {
    font-size: 80px;
    letter-spacing: 1px;
    margin-bottom: -15px;
    font-family: 'Parisienne', cursive;
}

h3 {
    font-size: 22px;
    letter-spacing: 8px;
    background-color: $primaryColor;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 1.2rem;
    margin-top: -8px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: $primaryColor;
    color: white;
    padding: 5px;
}
p {
    text-align: justify;
    font-size: 13px;
}

i {
    color: $primaryColor;
    font-size: 20px;
}

.title {
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    background-color: transparent;
    color: $primaryColor;
}

.date {
    text-align: right;
}

.accroche {
    text-align: center;
}

.resumeCanvas {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.3in;
    width: 8.5in;
    height: 12in;
    background-color: $primaryColor;
    box-shadow: 0 3px 8px -3px rgba(0,0,0,0.7);
    position: relative;

    .frame {
        position: absolute;
        width: 95%;
        height: 97%;
        background: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;

        .media {
            margin-bottom: 1rem;

            .col {
                text-align: center;
            }
        }

        .about {
            border: 2px solid $primaryColor;
            text-align: center;
            margin-top: 1rem;

            #about {
                margin-top: -14px;
                background-color: white;
                width: 150px;
                margin-left: 225px;
                color: $primaryColor;
            }
        }

        .bottom {
            margin-top: 2rem;
        }

        .mb {
                margin-bottom: 0.5rem;
            }
        .right ul li {
            list-style: square;
        }

        .bahasa {
            text-align: center;
        }

        .contact li {
            margin-bottom: .5rem;
        }

        .leftie {
            margin-bottom: 1.5rem;
            text-align: left;
        }

        .softSkills li {
            text-align: center;
        }
    }
}

